
@page "/angular"
@inject IJSRuntime JS;

<div ng-app="myApp" ng-controller="myCtrl">

    Testing AngularJS

    <p>Name: <input type="text" ng-model="name"></p>
    <p>You wrote: {{ name }}</p>

    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <br>
    Full Name: {{firstName + " " + lastName}}

    <input value="reinitAngular"  type="button" onclick="reinitAngular()" />

</div>
@code {
    protected override async Task OnInitializedAsync()
    {
        await JS.InvokeVoidAsync("reinitAngular");
    }
}
